
/Makefile.Release
/Makefile
/Makefile.Debug
/libmeters.pro.user
/release/liblibmeters.a
/release/libmeters.dll
/release/moc_abstractmeter.cpp
/example/Makefile
/example/Makefile.Debug
/example/Makefile.Release
/example/debug/example.exe
/example/debug/libmeters.dll
/example/example.pro.user
/example/release/example.exe
/example/release/libmeters.dll
/example/release/moc_main.cpp
/example/release/moc_main.o
/example/release/moc_mainwindow.cpp
/example/release/moc_mainwindow.o
/release/.gitignore
/example/release/mainwindow.o
/release/moc_coilmeter.cpp
/example/release/.gitignore
/debug/.gitignore